<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OOP_Lab_4_2.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OOP_Lab_4_2.Settings1>
            <setting name="value_a" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="value_b" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="value_c" serializeAs="String">
                <value>0</value>
            </setting>
        </OOP_Lab_4_2.Settings1>
    </userSettings>
</configuration>